<a href="https://colab.research.google.com/github/FreeeSoul/DataScience/blob/main/%EB%8F%99%EB%B9%88%EB%82%98_%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_12%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#.3 클러스터 구현

In [1]:
from sklearn.cluster import KMeans

In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.DataFrame(columns=['x', 'y'])
df.loc[0] = [2, 3] # x값 : 2, y값 : 3로 명령해줌
df.loc[1] = [20, 40]
df.loc[2] = [98, 33]
df.loc[3] = [38, 34]
df.loc[4] = [11, 59]
df.loc[5] = [2, 68]
df.loc[6] = [92, 83]
df.loc[7] = [31, 21]
df.loc[8] = [97, 83]
df.loc[9] = [55, 33]
df.loc[10] = [65, 87]
df.loc[11] = [35, 98]
df.loc[12] = [81, 61]
df.loc[13] = [72, 49]
df.loc[14] = [13, 47]
df.loc[15] = [16, 6]
df.loc[16] = [6, 8]

In [6]:
df.head()

    x   y
0   2   3
1  20  40
2  98  33
3  38  34
4  11  59

In [7]:
points = df.values
kmeans = KMeans(n_clusters=4).fit(points) # 클러스터 중심 4개를 생성
kmeans.cluster_centers_ # 4개의 클러스터 중심 반환

array([[76.5       , 44.        ],
       [18.83333333, 18.66666667],
       [15.25      , 68.        ],
       [84.66666667, 84.33333333]])